.business-demonstration {

	&__title {
		margin-bottom: 45px;

		@media screen and (max-width: 800px) {
			margin-bottom: 20px;
		}
	}

	&__description {
		margin-bottom: 65px;

		@media screen and (max-width: 800px) {
			margin-bottom: 30px;
		}
	}

	&__container-outer {
		display: flex;
		margin-bottom: 75px;

		@media screen and (max-width: 800px) {
			margin-bottom: 35px;
		}
	}

	&__container-inner {
		display: flex;

		&--left {
			flex-direction: column;
			margin-right: 10px;
		}

		&--right {
			flex-direction: column;
			justify-content: space-between;
		}
	}

	&__container-image {

		&--up {
			margin-bottom: 10px;
		}

		&--left {
			margin-right: 10px;
		}

		&--down img {
			height: 100%;
		}
	}
	
	&__link {
		position: relative;
		display: block;

		&-filter {
			position: absolute;
			left: 0;
			top: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			background: rgba(66, 66, 66, 0.7);
			opacity: 0;
			transition: all 0.3s linear;
		}

		&-title {
			max-width: 370px;
			font-weight: 500;
			font-size: 36px;
			text-align: center;
			color: #fff;

			@media screen and (max-width: 800px) {
				max-width: 200px;
				font-size: 24px;
			}

			@media screen and (max-width: 500px) {
				display: none;
			}
		}
		
		&:hover &-filter {
			opacity: 1;
		}
	}
}