.business-intro {
	position: relative;
	margin-bottom: 90px;
	padding: 230px 160px 150px;
	width: 100%;
	background-image: url('images/intro-image-min.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	line-height: 1.22;

	@media screen and (max-width: 1025px) {
    margin-bottom: 60px;
		padding: 150px 15px 100px;
  }

	@media screen and (max-width: 800px) {
		margin-bottom: 45px;
		padding: 115px 15px 75px;
	}

	@media screen and (max-width: 500px) {
		margin-bottom: 25px;
		padding: 50px 10px 35px;
	}

	&__title {
		margin: 0 auto 20px;
		max-width: 1080px;
		font-size: 72px;
		text-align: center;
		color: #edeaea;

		@media screen and (max-width: 1025px) {
			font-size: 60px;
		}

		@media screen and (max-width: 800px) {
			font-size: 48px;
		}

		@media screen and (max-width: 500px) {
			font-size: 36px;
		}

		@media screen and (max-width: 360px) {
			font-size: 32px;
		}
	}

	&__description {
		margin: 0 auto 150px;
		max-width: 887px;
		color: #edeaea;

		@media screen and (max-width: 1025px) {
			margin-bottom: 100px;
		}

		@media screen and (max-width: 800px) {
			margin-bottom: 75px;
		}

		@media screen and (max-width: 500px) {
			max-width: 100%;
			margin-bottom: 30px;
		}
	}
}