.business-subscribe {
	padding: 60px 60px 90px;
	border: 1px solid #41e7c9;

	&__title {
		margin: 0 auto 90px;
		max-width: 740px;
		font-weight: normal;
		font-size: 30px;
		line-height: 41px;
		text-align: center
	}
}